@model Group5Project.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employeeFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeBusinessUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeBusinessUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeHireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeHireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.employeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@{
    var total = ViewBag.total;
    var excellence = ViewBag.Excellence;
    var culture = ViewBag.Culture;
    var integrity = ViewBag.Integrity;
    var stewardship = ViewBag.Stewardship;
    var good = ViewBag.Good;
    var innovate = ViewBag.Innovate;
    
}

<table class="table-bordered">

    <tr>
        <th style="text-align:center">
            Core Value

        </th>


        <td style="text-align:center; width:10%">

            <a href="https://cob.ohio.edu/mis4200team5/Values/Create" class="fa fa-child" style="font-size:36px;color:#ffa64d"></a>
        </td>

        <td style="text-align:center; width:10%">
            <a href="https://cob.ohio.edu/mis4200team5/Values/Create" class="fa fa-comments" style="font-size:36px;color:#ffa64d"></a>
        </td>
        <td style="text-align:center; width:10%">
            <a href="https://cob.ohio.edu/mis4200team5/Values/Create" class="fa fa-chain" style="font-size:36px;color:#ffa64d"></a>
        </td>
        <td style="text-align:center; width:10%">
            <a href="https://cob.ohio.edu/mis4200team5/Values/Create" class="fa fa-users" style="font-size:36px;color:#ffa64d"></a>
        </td>
        <td style="text-align:center; width:10%">
            <a href="https://cob.ohio.edu/mis4200team5/Values/Create" class="fa fa-globe" style="font-size:36px;color:#ffa64d"></a>
        </td>
        <td style="text-align:center; width:10%">
            <a href="https://cob.ohio.edu/mis4200team5/Values/Create" class="fa fa-lightbulb-o" style="font-size:36px;color:#ffa64d"></a>
        </td>
        <td style="text-align:center; width:10%">
            <a href="https://cob.ohio.edu/mis4200team5/Values/Create" class="fa fa-balance-scale" style="font-size:36px;color:#ffa64d"></a>
        </td>
    </tr>
    <tr>
        <th>
            Recognition Count
        </th>
        <td style="text-align:center">
            @excellence
        </td>
        <td style="text-align:center">
            @integrity
        </td>
        <td style="text-align:center">
            @stewardship
        </td>
        <td style="text-align:center">
            @culture
        </td>
        <td style="text-align:center">
            @good
        </td>
        <td style="text-align:center">
            @innovate
        </td>
        <td style="text-align:center">
            5
        </td>

    </tr>



</table>
<br />
<p>Please click on the icons to see more information on the core values.</p>

