@model Group5Project.Models.Employee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employeeFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeBusinessUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeBusinessUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeHireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeHireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.employeeTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employeeTitle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.employeeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<table class="table-bordered">

    <tr>
        <th style="text-align:center">
            Core Value
           
        </th>
        </tr>
    <tr>
       
        <td style="text-align:center; width:10%">
            
            <i class="fa fa-child" style="font-size:36px"></i>  
        </td>
        
        <td style="text-align:center; width:10%">
            <i class="fa fa-comments" style="font-size:36px"></i> 
        </td>
        <td style="text-align:center; width:10%">
            <i class="fa fa-chain" style="font-size:36px"></i>
        </td>
        <td style="text-align:center; width:10%">
            <i class="fa fa-users" style="font-size:36px"></i>
        </td>
        <td style="text-align:center; width:10%">
            <i class="fa fa-globe" style="font-size:36px"></i>
        </td>
        <td style="text-align:center; width:10%">
            <i class="fa fa-lightbulb-o" style="font-size:36px"></i>
        </td>
        <td style="text-align:center; width:10%">
            <i class="fa fa-balance-scale" style="font-size:36px"></i>
        </td>
    </tr>
    <tr>
        <th>
            Recognition Count
        </th>
        <td style="text-align:center">
            5
        </td>
        <td style="text-align:center">
            5
        </td>
        <td style="text-align:center">
            5
        </td>
        <td style="text-align:center">
            5
        </td>
        <td style="text-align:center">
            5
        </td>
        <td style="text-align:center">
            5
        </td>
        <td style="text-align:center">
            5
        </td>

    </tr>

    

</table>

