@model IEnumerable<Group5Project.Models.Recognition>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Recognized Employee
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecognitionValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recognitionDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecognizeeEmployeeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Awardee.fullEmployeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecognitionValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recognitionDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecognizingEmployee.fullEmployeeName)
        </td>
        
    </tr>
}

</table>
