@model Group5Project.Models.CoreValues

@{
    ViewBag.Title = "Our Core Values";
}

<h2>Our Core Values </h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    @*<div class="form-horizontal">
        <h4>CoreValues</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.coreValueName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.coreValueName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.coreValueName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>*@
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


<div class="container-fluid bg-grey">
    <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo slideanim"></span>
        </div>
        <div class="col-sm-8">

            <h4><strong>Centric's Core Values</strong></h4><br>
            <p>
                <strong>Commit to Delivery Excellence:</strong> We have a passion for consulting excellence. In all of our dealings we strive to first understand your needs and then deliver on our commitments 100 percent of the time.
            </p>
            <p>
                <strong>Embrace Integrity and Openness:</strong> We value strong, positive relationships that are open and honest. This differentiates us and allows us to accomplish much more than we would be able to otherwise.
            </p>
            <p>
                <strong>Practice Responsible Stewardship:</strong>We value stewardship and fiscal accountability and always strive to do more with less. We guard and conserve company resources as if they were our own because it makes good business sense at all times, not just during lean times.
            </p>
            <p>
                <strong>Invest in an Exceptional Culture:</strong>We strive to hire and retain talented people from diverse backgrounds that are able to create a high impact for our clients and intrenally within Centric Consulting
            </p>
            <p>
                <strong>Ignite Passion for the Greater Good:</strong>We take pride in our commitment to improving the world in which we live and take an active role in preserving our environment for future generations. We are steadfast in our devotion to the communities we serve and in actively promoting employee involvement in community improvement projects.
            </p>
            <p>
                <strong>Strive to Innovate:</strong> We value passion, determination, perseverance, and innovation. We are inspired because we believe in what we are doing and where we are going. We believe in using innovation to remove obstacles and help you succeed in your goals.
            </p>
            <p>
                <strong>Live a Balanced Life:</strong> Our employees are our greatest asset and people we value highly as individuals. We support everyone managing a work life balance that is aligned with their needs and we also actively monitor all engagements to ensure our owners and employees have time for family, community and personal interests.
            </p>

        </div>
    </div>
</div>
